@model IEnumerable<MyEshop.Models.Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>محصول</h1>
<a asp-action="Add">افزودن محصول</a>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>تصویر</th>
                <th>نام</th>
                <th>قیمت</th>
                <th>دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="/images/@(item.Id).jpg" style="max-width:200px;border:1px solid gray;padding:1px" />
                </td>
                <td>@item.Name</td>
                <td>@item.Item.Price</td>
                <td>
                    <a asp-controller="Home" asp-action="Update" asp-route-id="@item.Id">ویرایش</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
            </tbody>
        </table>
  